@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Pacifico&family=Poppins:wght@200;400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins , sans-serif;
}
body {
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 40px;
  }
  nav{
    display: flex;
    justify-content: space-between;
    
  }
  
  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }
  a{
    text-decoration: none;
    color: black;
  }
  li{
    list-style: none;
    color: black;
    font-weight: bold;
    font-size: normal;
  }
  main{
    display: flex;
    margin-top: 25px;
  }
  button{
    height: 30px;
    background-color:#5955b3;
    border-radius: 5px;
    padding: 2px 10px;
    border: none;
    color: white;
    font-size: normal;
  }
  .text{
    width:45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;


  }
  .image{
    width: 55vw;

  }
  h1{
    font-weight: 300px;
    font-size: 50px;
  }
  .text>button{
    width: 160px;
  }
  span{
    color:#5955b3;

  }
  p{

    font-size: normal;
    color: rgb(108, 107, 107);
  }
  